html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter' ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* the effects of the functions */
.show {
  display: block;
}

.hiden {
  display: none;
}