.breadcrumb {
  @include block(100%, 51.86px);
  @include flex(0,0,center);
  margin: {
    top: 10.5px;
  }

  &__tab {
    @extend %caption1;
    margin: {
      right: 12px;
    }
    text-decoration: none;
    user-select: none;
    color: black;

    &::after {
      content: '/';
      display: inline-block;
      margin: {
        left: 12px;
      }
    }

    &:last-child {
      cursor: text;
      font-weight: 600;
      &::after {
        content: '';
      }
    }

    &:hover:not(&:last-child) {
      text-decoration: underline;
    }
  }

  @include media (768px) {
    height: 30px;
    margin-top: 10px;

    &__tab {
      font-size: 14px;
    }
  }

  @include media (425px) {
    &__tab {
      margin-right: 10px;

      &::after {
        margin-left: 10px;
      }
    }
  }

  @include media (375px) {
    &__tab {
      margin-right: 7px;

      &::after {
        margin-left: 7px;
      }
    }
  }
}