.cart-modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  @include block(554px, 937px);
  background-color: white;
  padding: {
    left: 20px;
    right: 20px;
  }
  box-sizing: border-box;
  box-shadow: -5px 10px 52px rgba(90, 92, 102, 0.06);

  h2 {
    margin: {
      top: 40px;
    }
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #F0F0F5;
  }
}