.cart-modal {
  &__hidden {
    height: 0;
  }

  &__show {
    height: auto;

    @include media (768px) {
      height: calc(100% - 51.86px);
    }
  }

  width: 554px;
  position: absolute;
  right: 0;
  z-index: 3;
  background-color: white;
  padding: {
    left: 60px;
    right: 60px;
  }
  box-sizing: border-box;
  overflow: auto;
  transition: height .3s;
  box-shadow: -5px 10px 52px rgba(90, 92, 102, 0.06);

  a {
    text-decoration: none;
  }

  h2 {
    @include flex(0,space-between);
    margin: {
      top: 40px;
      bottom: 40px;
    }
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #F0F0F5;
    @extend %H4;

    img {
      cursor: pointer;
    }

    @include media (425px) {
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__empty-cart {
    margin-bottom: 60px;
    text-align: center;

    h5 {
      @extend %H5;
      color: #606060;
    }

    p {
      font-size: 14px;
      color: black;
    }
  }

  &__item {
    @include flex();
    margin-bottom: 40px;

    @include media (425px) {
      margin-bottom: 20px;
    }
  }

  &__avatar {
    @include block(100px);
    background: #F0F0F5;
    position: relative;

    &-overlay {
      @include flex(0,center);
      position: absolute;
      left: 100%;
      right: 100%;
      bottom: 100%;
      top: 100%;
      z-index: 1;
      transition: .4s;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }

    &:hover &-overlay {
      left: 30%;
      right: 30%;
      bottom: 30%;
      top: 30%;
    }
  }

  &__infor {
    width: calc(100% - 100px);
    @include flex(column);
    padding-left: 20px;
    box-sizing: border-box;

    &-block-1 {
      @include flex(0,space-between);
      margin-bottom: 15px;

      span {
        &:first-child {
          @extend %body1;
        }

        &:last-child {
          @extend %H5;
        }
      }
    }

    &-block-2 {
      @include flex(0,space-between,center);
      margin-bottom: 15px;

      p {
        margin: {
          top: 0;
          bottom: 0;
          left: 20px;
        }

        font-size: 14px;
        color: red;

        @include media (355px) {
          margin-left: 15px;
          font-size: 13px;
        }

        @include media (330px) {
          margin-left: 10px;
          font-size: 13px;
        }
      }

      span {
        width: 48px;
        text-align: center;
        @extend %button;
      }

      img {
        user-select: none;
        &:hover {
          cursor: pointer;
          opacity: .5;
        }
      }
    }

    &-counter {
      @include flex(0,0,center);

      @include media (355px) {
        img {
          width: 24px;
        }

        span {
          width: 44px;
          font-size: 13px;
        }
      }

      @include media (330px) {
        img {
          width: 22px;
        }

        span {
          width: 40px;
          font-size: 13px;
        }
      }
    }

    &-delete-btn {
      @include flex(0,0,center);
      img {
        transition: .2s;
        width: 20px;
      }
    }

    @include media (330px) {
      padding-left: 15px;
    }
  }

  &__remove-all {
    margin: {
      top: -10px;
      bottom: 30px;
    }

    span {
      user-select: none;
      color: $c-primary;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: $c-secondary;
      }
    }

    @include media (425px) {
      margin: {
        top: 0;
      }
    }
  }

  &__promocode {
    @include flex(0,space-between);
    margin-bottom: 40px;

    &-alert {
      margin: {
        top: -20px;
        bottom: 40px;
      }

      font-size: 14px;
      font-weight: 500;

      &--error {
        color: $c-negative;
      }

      &--applied {
        color: $c-positive;
      }

      @include media (425px) {
        margin: {
          top: -10px;
          bottom: 30px;
        }
      }
    }

    input {
      width: 268px;
      padding: 12px 13px;
      box-sizing: border-box;
      background-color: $c-snow;
      border: 1px solid $c-light-grey;
      border-radius: 4px;
      outline: none;
      margin-right: 5px;

      &::placeholder {
        @extend %caption1;
        @include placeholder('Inter', black);
      }

      @include media (768px) {
        width: 400px;
      }

      @include media (550px) {
        width: 268px;
      }
    }

    &-btn {
      @include flex(0,center,center);
      @include button(white, 4px);
      @include block(151px, 40px);
      border: 1px solid $c-primary;
      @extend %button;
      transition: .2s;

      &:hover {
        background: $c-primary;
        color: white;
      }
    }

    @include media (425px) {
      margin-bottom: 30px;
    }
  }

  &__field {
    @include flex(0,space-between);
    padding: {
      top: 18px;
      bottom: 14px;
    }
    box-sizing: border-box;
    border-top: 1px solid $c-pale-grey;
    span {
      &:first-child {
        @extend %body2;
      }

      &:last-child {
        @extend %button;
      }
    }
  }

  &__checkout-btn {
    @include block(221px, 46px);
    @include flex(0,center,center);
    @include button(black, 8px);
    margin: {
      top: 26px;
      left: auto;
      right: auto;
      bottom: 50px;
    }
    transition: .2s;

    &:hover {
      opacity: .7;
    }

    span {
      color: white;
      @extend %button;
      margin-right: 12px;
    }

    @include media (425px) {
      margin-top: 16px;
    }
  }

  @include media (768px) {
    width: 100%;
    box-shadow: none;

    h2 {
      margin-top: 20px;
    }
  }

  @include media (550px) {
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  @include media (375px) {
    padding: {
      left: 15px;
      right: 15px;
    }
  }
}