.cart-modal {
  &__hidden {
    height: 0;
  }

  &__show {
    height: auto;

    @include media (768px) {
      height: calc(100vh - 51.86px);
    }
  }

  width: 554px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  padding: {
    left: 60px;
    right: 60px;
  }
  box-sizing: border-box;
  overflow: hidden;
  transition: height .3s;
  box-shadow: -5px 10px 52px rgba(90, 92, 102, 0.06);

  a {
    text-decoration: none;
  }

  h2 {
    @include flex(0,space-between);
    margin: {
      top: 40px;
      bottom: 40px;
    }
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #F0F0F5;
    @extend %H4;

    img {
      cursor: pointer;
    }

    @include media (425px) {
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__item {
    @include flex();
    margin-bottom: 40px;

    @include media (425px) {
      margin-bottom: 20px;
    }
  }

  &__avatar {
    @include block(100px);
    background: #F0F0F5;
  }

  &__infor {
    width: calc(100% - 100px);
    @include flex(column);
    padding-left: 20px;
    box-sizing: border-box;

    div:first-child {
      @include flex(0,space-between);
      margin-bottom: 15px;

      span {
        &:first-child {
          @extend %body1;
        }

        &:last-child {
          @extend %H5;
        }
      }
    }

    div:last-child {
      @include flex(0,0,center);

      span {
        margin: {
          left: 24px;
          right: 24px;
        }
        @extend %button;
      }

      img {
        user-select: none;
        &:hover {
          cursor: pointer;
          opacity: .5;
        }
      }
    }
  }

  &__promocode {
    @include flex(0,space-between);
    margin-bottom: 40px;

    input {
      width: 268px;
      padding: 12px 13px;
      box-sizing: border-box;
      background-color: $c-snow;
      border: 1px solid $c-light-grey;
      border-radius: 4px;
      outline: none;
      margin-right: 5px;

      &::placeholder {
        @extend %caption1;
        @include placeholder('Inter', black);
      }
    }

    &-btn {
      @include flex(0,center,center);
      @include button(white, 4px);
      @include block(151px, 40px);
      border: 1px solid $c-primary;
      @extend %button;
      transition: .2s;

      &:hover {
        background: $c-primary;
        color: white;
      }
    }

    @include media (425px) {
      margin-bottom: 30px;
    }
  }

  &__field {
    @include flex(0,space-between);
    padding: {
      top: 18px;
      bottom: 14px;
    }
    box-sizing: border-box;
    border-top: 1px solid $c-pale-grey;
    span {
      &:first-child {
        @extend %body2;
      }

      &:last-child {
        @extend %button;
      }
    }
  }

  &__checkout-btn {
    @include block(221px, 46px);
    @include flex(0,center,center);
    @include button($c-primary, 8px);
    margin: {
      top: 26px;
      left: auto;
      right: auto;
      bottom: 50px;
    }
    transition: .2s;

    &:hover {
      background-color: $c-secondary;
    }

    span {
      color: white;
      @extend %button;
      margin-right: 12px;
    }

    @include media (425px) {
      margin-top: 16px;
    }
  }

  @include media (768px) {
    width: 100%;
    box-shadow: none;
    overflow: auto;

    h2 {
      margin-top: 20px;
    }
  }

  @include media (550px) {
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  @include media (375px) {
    padding: {
      left: 15px;
      right: 15px;
    }
  }
}