.checkout {
  margin-bottom: 50px;
  &__container {
    @include flex(0,space-between);

    @include media (768px) {
      flex-direction: column;
    }
  }

  &__content {
    width: 489px;

    @include media (1024px) {
      margin-right: 20px;
    }

    @include media (768px) {
      max-width: 489px;
      width: auto;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__button {
    &-group {
      @include flex(0,space-between, center);
    }

    &-pre {
      @include flex(0,0,center);
      user-select: none;
      cursor: pointer;
      opacity: .5;

      span {
        margin-left: 11px;
        @extend %button;
      }
    }
  }

  &__progress {
    @include block(100%, 24px);
    @include flex(0,space-between,center);

    &-line {
      @include block(12%, 2px);
      background-color: $c-pale-grey;

      &--finished {
        background-color: black;
      }

      @include media (900px) {
        width: 10%;
      }

      @include media (820px) {
        width: 8%;
      }

      @include media (768px) {
        width: 12%;
      }

      @include media (470px) {
        width: 8%;
      }

      @include media (425px) {
        width: 6%;
      }
    }

    &-btn {
      @include flex(0,0,center);

      div {
        @include block(24px);
        @include flex(0,center,center);
        border: 1px solid $c-grey;
        border-radius: 50%;
        @extend %caption1;
        color: $c-grey;
        margin-right: 8px;
        box-sizing: border-box;

        @include media (375px) {
          @include block(22px);
        }

        @include media (345px) {
          @include block(21px);
          margin-right: 5px;
          font-size: 11px;
        }
      }

      span {
        @extend %body1;
        color: $c-grey;

        @include media (425px) {
          font-size: 14px;
        }

        @include media (375px) {
          font-size: 13px;
        }

        @include media (345px) {
          font-size: 12px;
        }
      }

      // progress state
      &--finished {
        div {
          background-color: $c-primary;
          border-color: $c-primary;
          color: white;
        }

        span {
          color: $c-primary;
        }
      }

      &--current {
        div {
          border-color: $c-primary;
          color: black;
        }

        span {
          color: black;
        }
      }
    }
  }

  &__order {
    @include block(440px, auto);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid $c-pale-grey;
    border-radius: 8px;

    &-name {
      @extend %H4;
      margin-bottom: 40px;
    }

    @include media (768px) {
      width: 100%;
    }
  }

  &__item {
    @include flex();
    margin-bottom: 40px;

    @include media (425px) {
      margin-bottom: 20px;
    }

    &-avatar {
      @include block(100px);
      background: #F0F0F5;
    }

    &-infor {
      width: calc(100% - 100px);
      @include flex(column);
      padding-left: 20px;
      box-sizing: border-box;
  
      div:first-child {
        @include flex(0,space-between,center);
        margin-bottom: 15px;
  
        span {
          &:first-child {
            @extend %body1;
          }
  
          &:last-child {
            @extend %H5;
          }
        }
      }
  
      div:last-child {
        @include flex(0,0,center);
  
        span {
          margin: {
            left: 24px;
            right: 24px;
          }
          @extend %button;
        }
  
        img {
          user-select: none;
          &:hover {
            cursor: pointer;
            opacity: .5;
          }
        }
      }
    }
  }

  &__field {
    @include flex(0,space-between);
    padding: {
      top: 18px;
      bottom: 14px;
    }
    box-sizing: border-box;
    border-top: 1px solid $c-pale-grey;
    span {
      &:first-child {
        @extend %body2;
      }

      &:last-child {
        @extend %button;
      }
    }
  }
}