.checkout {
  &__container {
    @include flex(0,space-between);
  }

  &__content {
    width: 489px;
  }

  &__order {
    @include block(440px, auto);
    padding: 20px;
    box-sizing: border-box;

    &-name {
      @extend %H4;
    }
  }
}