.content {
  @include frame(1160px, auto, center);

  @include media (1200px) {
    @include container (20px);
  }

  @include media (375px) {
    @include container (15px);
  }

  &__container {
    @include block(100%, auto);
    @include flex(0, space-between);
    // overflow-x: scroll;
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

  &__item-offer-stock {
    // position
    position: absolute;
    bottom: 10px;
    right: 0;
    // color style
    background-color: black;
    color: white;
    // text style
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    // spacing style
    padding: 5px 20px;
    // border style
    border-radius: 5px 0 0 5px;
  }

  &__item {
    @include block(260px, 366px);
    user-select: none;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
    }

    @include media (1200px) {
      width: 100%;
    }

    @include media (900px) {
      height: 346px;
    }

    @include media (850px) {
      height: 326px;
    }

    @include media (800px) {
      height: 306px;
    }

    @include media (700px) {
      height: 286px;
    }

    @include media (650px) {
      height: 266px;
    }

    @include media (620px) {
      height: 300px;
    }

    @include media (500px) {
      height: 260px;
    }

    @include media (425px) {
      height: 300px;
    }

    @include media (375px) {
      height: 280px;
    }

    @include media (350px) {
      height: 260px;
    }

    &--restyled {
      margin-right: 0;
      margin-bottom: 40px;

      @include media (1200px) {
        width: 24%;
        margin-bottom: 30px;
      }

      @include media (1100px) {
        margin-bottom: 0;
      }

      @include media (620px) {
        width: 32%;
      }

      @include media (425px) {
        width: 49%;
      }
    }
  }

  &__see-more-item {
    display: block;
    @include block(260px);
    @include flex(column, center);
    user-select: none;
    color: black;
    text-decoration: none;

    @include media (1200px) {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      opacity: .6;
    }

    h3 {
      margin: 0;
      @extend %H3;
      font-weight: 600;
      margin-left: 40px;
    }

    p {
      @include flex(0,0, center);

      span {
        margin-left: 40px;
        margin-right: 50px;
        @extend %H5;
        font-weight: 600;
      }
    }

    @include media (1024px) {
      h3 {
        font-size: 20px;
        margin-left: 50px;
      }

      p {
        margin-top: 0px;
        span {
          margin-left: 50px;
          margin-right: 40px;
          font-size: 13px;
        }
      }
    }

    @include media (770px) {
      h3 {
        margin-left: 40px;
      }
      p {
        span {
          margin-left: 40px;
          margin-right: 20px;
        }
      }
    }

    @include media (650px) {
      h3 {
        margin-left: 30px;
      }
      p {
        span {
          margin-left: 30px;
          margin-right: 20px;
        }
      }
    }

    @include media (620px) {
      h3 {
        margin-left: 40px;
      }
      p {
        span {
          margin-left: 40px;
          margin-right: 30px;
        }
      }
    }

    @include media (520px) {
      h3 {
        margin-left: 30px;
      }
      p {
        span {
          margin-left: 30px;
          margin-right: 20px;
        }
      }
    }

    @include media (460px) {
      h3 {
        font-size: 18px;
      }
      p {
        span {
          font-size: 10px;
        }
      }
    }

    @include media (420px) {
      h3 {
        font-size: 20px;
        margin-left: 50px;
      }
      p {
        span {
          font-size: 12px;
          margin-left: 50px;
        }
      }
    }

    @include media (375px) {
      h3 {
        margin-left: 35px;
      }
      p {
        span {
          margin-left: 35px;
        }
      }
    }
  }

  &__thumbnail {
    position: relative;
    @include block(100%, 260px);
    overflow: hidden;
    background-color: #f8f8f8;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    text-align: center;

    &--pd {
      padding: 15px;
    }

    @include media (1200px) {
      height: auto;
      &--pd {
        padding: 5.5%;
      }
    }

    &-overlay {
      @include flex(0,center);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      bottom: -60px;
      transition: bottom .3s;

      img {
        margin: 0 15px;

        &:hover {
          opacity: .7;
        }
      }
    }

    &:hover &-overlay {
      bottom: 15px;
    }
  }

  &__product {
    &-name {
      display: block;
      @include link;
      color: black;
      @extend %H4;
      text-align: center;
      margin: {
        top: 0;
        bottom: 8px;
      }

      &:hover {
        opacity: .7;
      }

      @include media (768px) {
        font-size: 16px;
      }

      @include media (500px) {
        font-size: 14.5px;
      }

      @include media (425px) {
        font-size: 15px;
      }
    }

    &-price {
      text-align: center;
      margin: 0;

      span {
        &:first-child {
          @extend %button;
          margin-right: 16px;
        }

        &:last-child {
          @extend %strikes;
          color: #82828B;
        }
      }
    }
  }
}

.content__page-name {
  margin-top: 20px;
  @extend %H1;
  margin-bottom: 40px;

  @include media (768px) {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
  }

  @include media (425px) {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.content__title {
  @include flex(0,space-between,center);
  margin-bottom: 44px;

  span {
    @extend %H3;

    @include media (768px) {
      font-size: 18px;
    }
  }

  div {
    visibility: hidden;
    @include block(67px, 24px);
    @include flex(0,space-between, center);

    @include media (425px) {
      display: none;
    }
  }

  img {
    &:first-child {
      opacity: .2;
    }

    &:hover {
      cursor: pointer;
    }
  }
}