.content {
  @include frame(1160px, auto, center);

  @include media (1200px) {
    @include container (20px);
  }

  @include media (375px) {
    @include container (15px);
  }
}

.content__title {
  @include flex(0,space-between,center);
  margin-bottom: 44px;

  span {
    @extend %H3;
  }

  div {
    @include block(67px, 24px);
    @include flex(0,space-between, center);
  }

  img {
    &:first-child {
      opacity: .2;
    }

    &:hover {
      cursor: pointer;
    }
  }
}