.disconts {
  &__events {
    @include flex();
    column-gap: 2%;

    &-caption {
      padding: {
        top: 10px;
        bottom: 10px;
      }
      text-align: center;
      @extend %H5;

      &--vertical {
        text-transform: uppercase;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: 10px;
        margin: {
          left: 10px;
          right: 10px;
        }
      }
    }

    &-image {
      width: 100%;
    }

    &-image-group {
      &1 {
        width: 43%;
        @include flex(column);

        &-1 {
          @include flex();
          column-gap: 2%;
        }
      }

      &2 {
        width: 55%;
        @include flex(0,space-between);

        &-1 {
          width: 55.8%;
        }

        &-2 {
          width: 36%;
          margin-left: 2px;
        }
      }
    }
  }
}