.disconts {
  &__events {
    @include flex();
    column-gap: 2%;

    &-caption {
      padding: {
        top: 10px;
        bottom: 10px;
      }
      text-align: center;
      @extend %H5;
    }

    &-image {
      width: 100%;
    }

    &-image-group {
      &1 {
        width: 43%;
        @include flex(column);

        &-1 {
          @include flex();
          column-gap: 2%;
        }
      }

      &2 {
        width: 55%;
        @include flex();
      }
    }
  }
}