.disconts {
  &__events {
    @include flex();
    column-gap: 2%;

    &-caption {
      padding: {
        top: 10px;
        bottom: 10px;
      }
      text-align: center;
      @extend %H5;
    }

    &-image-group {
      &1 {
        width: 43%;
        @include flex(column);

        .disconts__events-image {
          &:nth-child(1) {
            @include block(100%, auto);
            background-color: whitesmoke;
          }
        }
      }

      &2 {
        width: 55%;
        @include flex();

        .disconts__events-image {
          &:first-child {
            @include block(100%, 200px);
            background-color: whitesmoke;
          }
        }
      }
    }
  }
}