.filter-modal {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: white;
  height: 100%;
  padding: {
    left: 20px;
    right: 20px;
  }
  box-sizing: border-box;
  overflow: hidden;

  &--hidden {
    height: 0;
  }

  @include media (375px) {
    padding: {
      left: 15px;
      right: 15px;
    }
  }

  &__header {
    height: 70px;
    @include flex(0, flex-end, center);
    margin-bottom: 5px;
  }

  &__close-btn {
    transform: scale(.9);

    &:hover {
      opacity: .5;
      cursor: pointer;
    }
  }

  &__tab {
    @include flex(0,space-between, center);
    font-size: 15px;
    font-weight: 500;
    @include link;
    color: black;
    padding: {
      top: 14px;
      bottom: 15px;
    }
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0, 0.06);
  }
}