.filter-bar {
  @include flex(0,space-between, center);
  padding: {
    bottom: 20px;
  }
  box-sizing: border-box;
  border-bottom: 1px solid $c-light-grey;
  margin-bottom: 40px;

  &__group {
    width: calc(100% - 70px);
    @include flex(0,0,center);
  }

  &__dropdown {
    width: 132px;
    position: relative;
    user-select: none;
  }

  &__tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-right: 14px;
      @extend %body2;
    }

    &:hover {
      opacity: .5;
    }
  }

  &__children {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    background-color: white;
    box-shadow: -5px 10px 52px rgba(90, 92, 102, 0.06);
    border-radius: 8px;
    transition: max-height .3s;
    overflow: hidden;

    &--hidden {
      max-height: 0;
    }

    &--show {
      max-height: 300px;
      overflow: visible;
    }

    &::before, &::after {
      position: absolute;
      z-index: 3;
      top: -10px;
      left: 20px;
      content: '';
      display: block;
      @include block(0px);
      border-bottom: 10px solid rgba(0, 0, 0, 0.055);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    &::after {
      border-width: 9px;
      border-bottom-color: white;
      top: -9px;
      left: 21.5px;
    }

    span {
      display: block;
      padding: 7px 25px;
      box-sizing: border-box;
      @extend %body2;

      &:first-child {
        margin-top: 7px;
      }

      &:last-child {
        margin-bottom: 7px;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.035)
      }
    }
  }

  &__total {
    width: 70px;
    text-align: right;
    @extend %body1;
  }

  &__button, &__close-button {
    display: none;
  }

  @include media (768px) {
    border-bottom: none;
    padding-bottom: 0;
    &__group {
      display: none;
    }

    &__total {
      text-align: left;
    }

    &__button {
      display: block;
      margin-top: 5px;
    }
  }
}