.filter-bar {
  @include flex(0,space-between, center);
  padding: {
    bottom: 20px;
  }
  box-sizing: border-box;
  border-bottom: 1px solid $c-light-grey;
  margin-bottom: 40px;

  &__group {
    width: calc(100% - 70px);
    @include flex(0,0,center);
  }

  &__dropdown {
    width: 132px;
    position: relative;
    user-select: none;
  }

  &__tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    span {
      margin-right: 14px;
      @extend %body2;
    }

    &:hover {
      opacity: .5;
    }
  }

  &__children {
    position: absolute;
    left: 0;
    top: 28px;
    z-index: 1;
    background-color: transparent;
    // box-shadow: 0px 10px 20px rgba(0,0,0,0.07);
    box-shadow: -5px 30px 52px rgba(90, 92, 102, 0.06);
    border-radius: 8px;
    overflow: hidden;
    transition: .3s;

    &--hidden {
      max-height: 0;
    }

    &--show {
      max-height: 300px;
    }

    &--active {
      font-weight: 500;
      color: $c-primary;
    }

    &-list {
      background-color: white;
      border-radius: 8px;
      box-shadow: -5px 10px 28px rgba(90, 92, 102, 0.06);
      border: 1px solid rgba(0,0,0,0.03);
      box-sizing: border-box;

      p {
        margin: 0;
        height: 7px;
      }

      span {
        display: block;
        padding: 7px 25px;
        box-sizing: border-box;
        @extend %body2;
  
        &:hover {
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.035);
        }
      }
    }

    &-arrow {
      position: relative;
      z-index: 1;
      height: 10px;

      &::before, &::after {
        position: absolute;
        z-index: 2;
        top: 1px;
        left: 20px;
        content: '';
        display: block;
        @include block(0px);
        border-bottom: 10px solid rgba(0, 0, 0, 0.055);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        overflow: visible;
      }
  
      &::after {
        border-width: 10px;
        border-bottom-color: white;
        top: 2px;
        left: 20.5px;
      }
    }
  }

  &__total {
    width: 70px;
    text-align: right;
    @extend %body1;
  }

  &__button {
    display: none;
  }

  @include media (768px) {
    border-bottom: none;
    padding-bottom: 0;
    &__group {
      display: none;
    }

    &__total {
      text-align: left;
    }

    &__button {
      display: block;
      margin-top: 5px;
      cursor: pointer;
    }
  }
}