.filter-modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  height: 100%;
  padding: {
    left: 20px;
    right: 20px;
  }
  box-sizing: border-box;
  overflow: hidden;
  transition: height .3s;

  &--hidden {
    height: 0;
  }

  &--show {
    height: 100%;
    overflow: auto;
  }

  @include media (375px) {
    padding: {
      left: 15px;
      right: 15px;
    }
  }

  &__header {
    height: 70px;
    @include flex(0, flex-end, center);
    margin-bottom: 5px;
  }

  &__close-btn {
    transform: scale(.9);

    &:hover {
      opacity: .5;
      cursor: pointer;
    }
  }

  &__group {
    font-size: 15px;
    font-weight: 500;
    color: black;
    box-sizing: border-box;
    user-select: none;
    border-bottom: 1px solid rgba(0,0,0, 0.06);

    span {
      display: block;
      font-size: 14px;
      padding: {
        bottom: 12px;
      }
    }
  }

  &__children {
    overflow: hidden;

    &--hidden {
      max-height: 0;
      transition: .3s;
    }

    &--show {
      max-height: 300px;
      transition: .8s;
    }
  }

  &__tab {
    @include flex(0,space-between, center);
    padding: {
      top: 14px;
      bottom: 15px;
    }
  }
}