// Inter font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

// Opensans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Notosans
@font-face {
  font-family: 'Notosans-Bold';
  src: url('../fonts/NotoSans-Bold.ttf');
}

@font-face {
  font-family: 'Notosans-Regular';
  src: url('../fonts/NotoSans-Regular.ttf');
}