.footer {
  @include block(100%, auto);
  background-color: black;
  color: white;

  &__container {
    @include frame(1160px, auto, center);
    
    @include media (1200px) {
      @include container(50px);
    }
  }

  &__media {
    a {
      margin-right: 22px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: .5;
      }
    }
  }

  &__link {
    &:first-child {
      width: 335px;
    }
    width: 315px;
    &:last-child {
      width: 265px;
    }
  }

  &__row {
    &-1 {
      @include flex(0,center);
      padding: {
        top: 58px;
      }
      margin-bottom: 30px;
      p {
        margin: {
          top: 0;
          bottom: 18px;
        };
        line-height: 24px;
      }
    }

    &-2 {
      border-top: 1px solid #464646;
      padding-top: 20px;
      padding-bottom: 40px;
      @extend %caption1;
      color: #565656;
    }
  }

  &__col {
    &-1 {
      width: 345px;

      span {
        display: block;
        @extend %caption2;
        margin-bottom: 17px;
      }
    }

    &-2 {
      @include flex(0,space-between);
      width: 815px;

      span {
        display: block;
        margin-bottom: 14px;

        a {
          @extend %button2;
          @include link;
          opacity: .8;

          &:hover {
            opacity: 1;
            font-weight: 500;
          }
        }
      }
    }
  }

  @include media (1200px) {
    &__col {
      &-2 {
        width: 715px;
      }
    }
  }

  @include media (1024px) {
    &__row-1 {
      flex-direction: column-reverse;
      margin-bottom: 20px;
    }

    &__col-1 {
      width: 100%;
      @include flex(0,space-between,center);
      margin-top: 15px;
    }

    &__contact {
      @include flex(0,0,center);
      width: 300px;

      p {
        margin-right: 40px;
      }
    }

    &__media {
      width: 200px;
      @include flex(0,flex-end);
    }

    &__col-2 {
      width: 100%;
    }

    &__row-2 {
      padding-bottom: 30px;
    }
  }
}