.footer {
  @include block(100%, 356px);
  background-color: black;
  color: white;

  &__container {
    @include frame(1160px, auto, center);
  }

  &__media {
    a {
      margin-right: 22px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: .5;
      }
    }
  }

  &__link {
    &:first-child {
      width: 335px;
    }
    width: 315px;
    &:last-child {
      width: 265px;
    }
  }

  &__row {
    &-1 {
      @include flex(0,center);
      padding: {
        top: 58px;
      }
      p {
        margin: {
          top: 0;
          bottom: 18px;
        };
        line-height: 24px;
      }
    }

    &-2 {
      border-top: 1px solid #363636;
      padding-top: 20px;
    }
  }

  &__col {
    &-1 {
      width: 345px;

      span {
        display: block;
        @extend %caption2;
        margin-bottom: 17px;
      }
    }

    &-2 {
      @include flex(0,space-between);
      width: 815px;

      span {
        display: block;
        margin-bottom: 14px;

        a {
          @extend %button2;
          @include link;
          opacity: .8;

          &:hover {
            opacity: 1;
            font-weight: 500;
          }
        }
      }
    }
  }
}