.footer {
  @include block(100%, 356px);
  background-color: black;
  color: white;

  &__container {
    @include frame(1160px, auto, center);
  }

  &__row {
    &-1 {
      @include flex(0,center);
      padding: {
        top: 58px;
      }
      p {
        margin: 0;
        line-height: 24px;
      }
    }
  }

  &__col {
    &-1 {
      width: 345px;
    }

    &-2 {
      @include flex(0,space-between);
      width: 815px;

      span {
        display: block;
      }
    }
  }
}