.header {
  @include frame(1160px, 51.86px, center);
  @include flex(0, space-between, center);

  &__group {
    width: 250px;
    @include flex(0,flex-end,center);
  }

  &__cart {
    @include flex();
    margin-left: 20px;
    @include button-icon(1);
  }

  &__search {
    @include flex();
    input {
      width: 170px;
      @include input;
      font-family: 'Inter';
      border: none;
      padding: 7px;
      font-weight: 500;
      border-bottom: 2px solid black;

      &::placeholder {
        color: black;
      }
    }

    img {
      @include button-icon(1);
      margin-left: 10px;
    }
  }

  &__logo {
    width: 150px;
    @include flex(0,center,center);
  }

  &__location {
    width: 250px;
    @include flex(0,0,center);
    margin-top: -10px;

    span {
      font-size: 14px;
      font-weight: 500;
      margin-left: 5px;
    }
  }

  &__menu {
    display: none;
  }

  @include media (1200px) {
    margin: {
      left: 20px;
      right: 20px;
    };
  }

  @include media (768px) {
    &__location {
      display: none;
    }

    &__menu {
      width: 250px;
      display: block;
      @include button-icon(1);

      img {
        width: 21px;
      }
    }
  }

  @include media (425px) {
    &__group {
      img {
        width: 19px;
      }
    }
  }

  @include media (375px) {
    margin: {
      left: 15px;
      right: 15px;
    };
  }
}