.header {
  @include frame(1160px, 51.86px, center);
  @include flex(0, space-between, center);

  &__group {
    width: 250px;
    @include flex(0,flex-end,center);
  }

  &__cart {
    @include flex();
    margin-left: 20px;
    @include button-icon(1);
  }

  &__search {
    &--hiden {
      width: 0px;
      padding: 7px 0;
    }

    &--show {
      width: 170px;
      padding: 7px;

      @include media (768px) {
        width: 0px;
        padding: 7px 0;
      }
    }

    @include flex();
    input {
      @include input;
      font-family: 'Inter';
      font-weight: 500;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 2px;
      border-style: solid;
      border-color: black;
      transition: width .5s, padding .5s;

      &::placeholder {
        color: black;
      }
    }

    img {
      @include button-icon(1);
      margin-left: 10px;
    }
  }

  &__logo {
    width: 150px;
    @include flex(0,center,center);
  }

  &__location {
    width: 250px;
    @include flex(0,0,center);
    margin-top: -10px;

    span {
      font-size: 14px;
      font-weight: 500;
      margin-left: 5px;
    }
  }

  &__menu {
    display: none;
  }

  @include media (1200px) {
    margin: {
      left: 20px;
      right: 20px;
    };
  }

  @include media (768px) {
    &__location {
      display: none;
    }

    &__logo {
      a {
        display: flex;
      }
    }

    &__menu {
      width: 250px;
      display: block;
      @include button-icon(1);

      img {
        width: 21px;

        &:last-child {
          width: 18px;
        }
      }
    }
  }

  @include media (425px) {
    &__group {
      img {
        width: 19px;
      }
    }
  }

  @include media (375px) {
    margin: {
      left: 15px;
      right: 15px;
    };
  }
}