.home {
  padding: {
    top: 20px;
  }
}

.banner-ads {
  &__primary {
    position: relative;
    max-width: 1160px;
    max-height: 220px;
    overflow: hidden;
    padding: {
      left: 80px;
      top: 43px;
    }
    margin-bottom: 40px;
    box-sizing: border-box;
  }

  &__title {
    position: absolute;
    top: 43px;
    left: 80px;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
  }

  p {
    position: absolute;
    left: 80px;
    top: 81px;
    margin: 0;
    @extend %H4;
  }

  &__btn {
    position: absolute;
    left: 80px;
    top: 127px;
    display: inline-flex;
    align-items: center;
    @extend %button2;
    font-weight: 300;
    color: white;
    background-color: black;
    padding: 12px 22px;
    box-sizing: border-box;
    border-radius: 7px;

    span {
      margin-right: 12px;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  &__secondary {
    width: 100%;
    @include flex(0,space-between);
  }

  &__image {
    max-width: 560px;
    max-height: 221px;
    background-color: #f9f9f9;
  }
}