.home {
  padding: {
    top: 20px;
  }

  &__container {
    margin-bottom: 60px;

    @include media (1024px) {
      margin-bottom: 20px;
    }
  }
}

.banner-ads {
  margin-bottom: 80px;
  &__primary {
    position: relative;
    max-width: 1160px;
    max-height: 220px;
    overflow: hidden;
    margin-bottom: 40px;
    font-size: 16px;

    @include media (1024px) {
      margin-bottom: 20px;
    }

    @include media (950px) {
      font-size: 14px;
    }

    @include media (900px) {
      font-size: 13px;
    }

    @include media (800px) {
      font-size: 12px;
    }

    @include media (768px) {
      display: none;
    }
  }

  &__background {
    user-select: none;
  }

  &__title {
    position: absolute;
    top: 20%;
    left: 6.9%;
    font-family: 'Roboto';
    font-size: 1.750em;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;

    &--light {
      left: 48%;
      text-transform: none;
    }

    @include media (950px) {
      top: 18%;
    }

    @include media (850px) {
      top: 16%;
    }

    @include media (800px) {
      top: 15%;
    }
  }

  p {
    position: absolute;
    left: 6.9%;
    top: 37%;
    margin: 0;
    @extend %H4;
    font-size: 1.125em;

    &.banner-ads__description {
      left: 48%;
    }
    @include media (800px) {
      top: 35%;
    }
  }

  &__btn {
    user-select: none;
    position: absolute;
    left: 6.9%;
    top: 58%;
    display: inline-flex;
    align-items: center;
    @extend %button2;
    font-weight: 300;
    color: white;
    background-color: black;
    font-size: 0.875em;
    padding: 0.857em 1.571em;
    box-sizing: border-box;
    border-radius: 7px;

    span {
      margin-right: 12px;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    &--light {
      left: 48%!important;
      top: 60%;
      padding: 0;
      font-weight: 500;
      background-color: transparent;
      color: black;

      &:hover {
        opacity: .6;
      }
    }

    @include media (800px) {
      top: 55%;
      left: 7%;
    }
  }

  &__secondary {
    width: 100%;
    @include flex(0,space-between);

    @include media (768px) {
      display: none;
    }
  }

  &__image {
    position: relative;
    max-width: 560px;
    max-height: 221px;

    @include media (950px) {
      font-size: 14px;
    }

    @include media (900px) {
      font-size: 13px;
    }

    @include media (800px) {
      font-size: 12px;
    }

    @include media (1200px) {
      &:first-child {
        margin-right: 40px;
      }
    }

    @include media (1024px) {
      &:first-child {
        margin-right: 20px;
      }
    }
  }

  @include media (768px) {
    display: none;
  }
}

.m-banner-ads {
  display: none;

  @include media (768px) {
    @include block(100%, 220px);
    display: block;
    margin: {
      bottom: 30px;
    };
    user-select: none;
  }

  @include media (440px) {
    height: 190px;
  }

  &__slide {
    position: relative;
    @include block(100%, 220px);

    @include media (440px) {
      height: 190px;
    }
  }

  &__title {
    position: absolute;
    font-family: 'Roboto';
    top: 40px;
    left: 55%;
    @extend %H3;
  }

  &__des {
    position: absolute;
    top: 80px;
    left: 55%;
    @extend %H4;
    margin: 0;
  }

  &__btn {
    position: absolute;
    top: 135px;
    left: 55%;
    display: inline-flex;
    align-items: center;
    @extend %button;

    span {
      margin-right: 20px;
    }
  }

  @include media (440px) {
    &__title {
      font-size: 20px;
    }

    &__des {
      font-size: 14px;
      top: 75px;
    }

    &__btn {
      top: 120px;
      font-size: 13px;
    }
  }

  @include media (350px) {
    &__title, &__des, &__btn {
      left: 50%;
    }
  }
}