.m-search {
  max-width: 100%;
  @include container (20px);
  display: none;

  input {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.09);
    padding: 10px 15px;
    font-family: 'Inter';
    @include input;
  }

  &__hiden {
    display: none;
  }

  @include media (768px) {
    display: block;
  }

  @include media (375px) {
    @include container (15px);
  }
}