.m-search, .m-search__hiden {
  max-width: 100%;
  @include container (20px);
  display: none;
  height: 38px;
  overflow: hidden;
  transition: height .2s;

  input {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.09);
    padding: 10px 15px;
    font-family: 'Inter';
    @include input;
  }

  @include media (768px) {
    display: block;
  }

  @include media (375px) {
    @include container (15px);
  }
}

.m-search__hiden {
  height: 0;
  overflow: hidden;
  transition: height .2s;
}