.nav {
  @include media (769px, 'min') {
    @include frame(1160px, 79.64px, center);
    @include flex(0,center,center);
    
    &__tab {
      @include link;
      color: black;
      margin-right: 76px;

      &:nth-last-child(2) {
        margin-right: 0;
      }

      &:hover:not(&--active) {
        opacity: .5;
      }

      &--active {
        font-weight: 500;
      }
    }

    &__location {
      display: none;
    }
  }

  @include media (768px) {
    &--hiden {
      height: 0;
    }

    &--show {
      height: calc(100% - 51.86px);
    }

    width: 100%;
    position: absolute;
    z-index: 4;
    background-color: white;
    overflow: auto;
    transition: height .3s;

    &__tab {
      display: block;
      @include link;
      color: black;
      font-weight: 500;
      padding: 12px 20px;
      box-sizing: border-box;
      border-top: 1px solid rgba(0,0,0, 0.09);

      &:hover {
        opacity: .5;
      }

      &:nth-last-child(2) {
        border-bottom: 1px solid rgba(0,0,0, 0.09);
      }

      &--active {
        font-weight: 700;
      }
    }

    &__location {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: block;
      padding: 12px 20px;
      background-color: #f9f9f9;
      box-sizing: border-box;

      span {
        margin-left: 7px;
        font-weight: 500;
      }
    }
  }

  @include media (375px) {
    &__tab, &__location {
      padding: {
        left: 15px;
        right: 15px;
      }
    }
  }
}