.nav {
  @include frame(1160px, 79.64px, center);
  @include flex(0,center,center);
  
  &__tab {
    @include link;
    color: black;
    margin-right: 76px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .5;
    }
  }
}