.nav {
  @include media (769px, 'min') {
    @include frame(1160px, 79.64px, center);
    @include flex(0,center,center);
    
    &__tab {
      @include link;
      color: black;
      margin-right: 76px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: .5;
      }

      &--active {
        font-weight: 500;
      }
    }
  }

  @include media (768px) {
    @include block(100%, auto);
    position: absolute;
    background-color: white;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;

    &__tab {
      display: block;
    }
  }
}