.product-detail {
  &__container {
    @include flex(0,space-between);
    margin-top: 26px;
    margin-bottom: 100px;

    @include media (1024px) {
      margin-bottom: 80px;
    }

    @include media (900px) {
      margin-bottom: 70px;
    }

    @include media (768px) {
      flex-direction: column;
    }
  }

  &__recomanded {
    margin-bottom: 30px;
    @include media (768px) {
      margin-bottom: 20px;
    }
  }

  &__images {
    @include block(568px, auto);
    margin-right: 20px;

    &-container {
      @include block(568px);
      box-sizing: border-box;
      background-color: $c-snow;
      margin-bottom: 30px;

      &--pd {
        padding: 50px;
      }
    }

    @include media (1024px) {
      width: 60%;

      &-container {
        @include block(100%, auto);
      }
    }
  }

  &__label-bar {
    @include block(506px, 46px);
    @include flex(0,space-between,center);

    @include media (1024px) {
      width: 100%;
    }
  }

  &__label {
    @include flex(0,0,center);

    span {
      margin-left: 10px;
      display: block;
      @extend %caption1;
    }
  }

  &__infor {
    @include block(523px, auto);
    @include media (1024px) {
      width: 40%;
    }
  }

  &__name {
    @extend %H3;
    margin-bottom: 20px;
  }

  &__m-name {
    display: none;
  }

  &__price {
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid $c-light-grey;
    span {
      &:first-child {
        @extend %H2;
        margin-right: 20px;
      }

      &:last-child {
        @extend %strikel;
        color: $c-dark-grey;
      }
    }
  }

  &__label {
    margin-bottom: 24.5px;
    @extend %body1;
  }

  &__count {
    margin-bottom: 38px;

    &--counter {
      @include flex(0,0,center);

      span {
        width: 64px;
        @extend %button;
        text-align: center;
      }

      img {
        user-select: none;
        &:hover {
          opacity: .5;
          cursor: pointer;
        }
      }
    }
  }

  &__color {
    margin-bottom: 53px;
    &-select {
      @include flex(0,0,center);

      span {
        display: inline-block;
        @include block(34px);
        margin-right: 20px;
        background-color: $c-pale-grey;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid $c-pale-grey;

        &:hover {
          border-color: $c-light-grey;
        }
      }
    }

    &--selected {
      border: 2px solid $c-primary!important;
    }
  }

  &__button-group {
    @include flex(0,0,center);
    column-gap: 20px;
    margin-bottom: 40px;
  }

  &__order-btn {
    display: block;
    @include block(309px, 56px);
    @include flex(0,center,center);
    background-color: black;
    color: white;
    border-radius: 4px;
    @extend %button;
    user-select: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  &__cart-btn {
    @include block(56px);
    @include flex(0,center,center);
    cursor: pointer;
    &:hover {
      opacity: .5;
    }
  }

  &__list-content {
    border-bottom: 1px solid $c-light-grey;

    span {
      @extend %body2;
    }

    img {
      margin-right: 5px;
    }
  }

  &__list-button {
    @include block(100%, 56px);
    @include flex(0,space-between,center);

    &:hover {
      cursor: pointer;
      opacity: .6;

      @include media (768px) {
        opacity: 1;
      }
    }

    user-select: none;
  }

  &__list-children {
    &--hidden {
      line-height: 0;
      margin-bottom: 0;
      transform: scaleY(0);
    }

    line-height: 1.2;
    transform: scaleY(1);
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 300;
    overflow: hidden;
    transition: line-height .2s, transform .2s;
  }

  @include media (850px) {
    &__price, &__count {
      margin-bottom: 30px;
    }
    &__color {
      margin-bottom: 40px;
    }
    &__button-group {
      margin-bottom: 20px;
    }
  }

  @include media (800px) {
    &__price, &__count {
      margin-bottom: 20px;
    }
    &__color {
      margin-bottom: 35px;
    }
    &__button-group {
      margin-bottom: 15px;
    }
  }

  @include media (768px) {
    &__images {
      width: calc(100% + 40px);
      margin-left: -20px;
      &-container {
        text-align: center;
        margin-bottom: 20px;

        &--pd {
          padding: {
            top: 20px;
            bottom: 10px;
            left: 200px;
            right: 200px;
          }
        }
      }
    }

    &__price {
      @include flex(0,space-between,center);
      padding-bottom: 20px;

      span:first-child {
        font-size: 20px;
        margin-right: 15px;
      }
    }

    &__color-select {
      span {
        &:hover {
          border-color: transparent;
        }
      }
    }

    &__count--counter {
      span {
        font-weight: 500;
        font-size: 16px;
      }

      img {
        @include block(30px);
      }
    }

    &__infor {
      width: 100%;
    }

    &__label-bar {
      display: none;
    }

    &__list-content, &__label {
      font-weight: 500;
    }

    &__name {
      display: none;
    }

    &__m-name {
      display: block;
      font-size: 24px;
      font-weight: 500;
    }
  }

  @include media (650px) {
    &__images-container {
      &--pd {
        padding: {
          left: 150px;
          right: 150px;
        }
      }
    }
  }

  @include media (550px) {
    &__images-container {
      &--pd {
        padding: {
          left: 120px;
          right: 120px;
        }
      }
    }
  }

  @include media (470px) {
    &__images-container {
      &--pd {
        padding: {
          left: 90px;
          right: 90px;
        }
      }
    }
  }

  @include media (425px) {
    &__images-container {
      &--pd {
        padding: 20px 40px;
      }
    }

    &__m-name {
      font-size: 18px;
    }

    &__price {
      span:first-child {
        font-size: 17px;
        margin-right: 10px;
      }
      span:last-child {
        font-size: 16px;
      }
    }
  }

  @include media (375px) {
    &__images {
      width: calc(100% + 30px);
      margin-left: -15px;
    }

    &__order-btn {
      height: 50px;
    }

    &__cart-btn {
      @include block(50px);

      img {
        height: 100%;
      }
    }
  }
}