.splide__pagination {
  padding: 0!important;
  left: 55%!important;
  right: auto!important;

  @include media (350px) {
    left: 50%!important;
  }
}

.splide__pagination__page.is-active {
  background: black!important;
  transform: scale(1.2)!important;
}

@include media (425px) {
  .splide__pagination__page {
    width: 6px!important;
    height: 6px!important;
  }
}

// Home product
.content-item__arrow {
  top: -70px!important;
  opacity: 1!important;
  background-color: transparent!important;
  border: 0!important;
  transform: none!important;
  height: auto!important;

  &[disabled] {
    opacity: .2!important;
  }

  &--pre {
    width: 21px!important;
    right: 44px!important;
    left: auto!important;
  }

  &--next {
    width: 23px!important;
    right: 0!important;
  }
}