.splide__pagination {
  padding: 0!important;
  left: 55%!important;
  right: auto!important;

  @include media (350px) {
    left: 50%!important;
  }
}

.splide__pagination__page.is-active {
  background: black!important;
  transform: scale(1.2)!important;
}

@include media (425px) {
  .splide__pagination__page {
    width: 6px!important;
    height: 6px!important;
  }
}

// Home product
.content-item__arrows {
  @include media (425px) {
    display: none;
  }
}

.content-item__arrow {
  position: absolute;
  top: -73px;

  &--pre {
    width: 33.5px;
    right: 33.5px;
  }

  &--next {
    width: 33.5px;
    right: 0;
  }
}