// title
%H1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

%H2 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
}

%H3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

%H4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

%H5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

// text
%body1 {
  font-size: 16px;
  line-height: 24px;
}

%body2 {
  font-size: 14px;
  line-height: 20px;
}

%button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

%button2 {
  font-size: 14px;
  line-height: 17px;
}

%caption1 {
  font-size: 12px;
  line-height: 16px;
}

%caption2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

%strikel {
  font-size: 18px;
  font-weight: 500px;
  line-height: 22px;
  text-decoration: line-through;
}

%strikes {
  font-size: 14px;
  line-height: 18px;
  text-decoration: line-through;
}