// Import font
@import 'font';

// import typography extend
@import 'typography';

// Import mixin
@import 'mixin';

// Main color variables
$c-primary: #595CFF;
$c-secondary: #8C8EFF;
$c-primary-dark: #383BE4;
// Neutral color variables
$c-snow: #F9F9FB;
$c-pale-grey: #F0F0F5;
$c-light-grey: #E6E6EB;
$c-grey: #AFB1BD;
$c-dark-grey: #82828B;
// UI color variables
$c-positive: #00CB6F;
$c-warning: #FFBC2C;
$c-negative: #EE7764;
$c-active: #595CFF;

// Importing the styles of the layout components
@import 
  'header','nav','m-search','footer',
  'home','content','product-detail';
// Import partials
@import 
  'splidejs','cart-modal','modal-container',
  'breadcrumb','filter-bar','products-container';

.lock-body {
  @include media (768px) {
    @include block(100%);
    overflow: hidden;
    position: fixed;
  }
}